*.bak
**/packages/**
y3d_max/TexTools/*
ref/**
y3d/ymax/bin/**
y3d/ytest/bin/**
y3d/y3d/bin/**
y3d/y3d/obj/**
y3d/ytest/obj/**
y3d/ymax/obj/**
y3d/ycpp/obj/**
y3d/Service/grpc/**
y3d/bin/scheme/example/**
y3d/bin/scheme/*.cs
y3d/bin/*.pdb
y3d/bin/*.exp
y3d/bin/*.exe
y3d/bin/*.dll
y3d/lib/**
y3d/icph/**
MaxNet/Y3D/packages/**
MaxNet/Y3D/**/obj/**
MaxNet/Y3D/**/bin/**
**/Debug/
*.opendb
*.tlog
*.db
*.pdb
*.cache
*.gup
*.log
*.obj
y3d/y3d/Models/**
y3d/Service/*.pb.*
y3d/Service/*.grpc.pb.*
MaxNet/Y3D/Y3D.Entities/*.cs