*.bak
**/packages/**
y3d_max/TexTools/*
ref/*
y3d/ymax/bin/**
y3d/ytest/bin/**
y3d/y3d/bin/**
y3d/y3d/obj/**
y3d/ytest/obj/*
y3d/ymax/obj/*
y3d/ycpp/obj/*
y3d/Service/grpc/**
y3d_max/ref/**
y3d/bin/scheme/example/**
y3d/bin/scheme/*.cs
y3d/bin/*.pdb
**/Debug/
*.opendb
*.tlog
*.db
*.pdb
*.cache
*.suo
*.gup
*.log
y3d/lib/protobuf z/lite-arena-test.exe
*.obj
y3d/y3d/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
y3d/Service/obj/x64/Release/vc140.idb
y3d/Service/obj/x64/Release/Service.res
y3d/Service/obj/x64/Debug/Service.log
y3d/Service/obj/x64/Debug/Service.res
y3d/Service/obj/x64/Release/dll/Service.gup
y3d/Service/obj/x64/Release/Service.log
y3d/Service/obj/x64/Release/Service.lib
y3d/Service/obj/x64/Release/Service.exp