*.bak
**/packages/**
y3d_max/TexTools/*
ref/**
y3d_max/ref/**
y3d/Service/grpc/**
y3d/Service/obj/**
y3d/bin/scheme/example/**
y3d/bin/scheme/*.cs
y3d/bin/*.pdb
y3d/bin/*.exp
y3d/bin/*.exe
y3d/bin/*.dll
y3d/bin/Release/**
y3d/bin/mserver/**
y3d/lib/**
y3d/icph/**
y3d/Y3D/packages/**
y3d/Y3D/**/obj/**
y3d/Y3D/**/bin/**
y3d/Y3D/x64/Release/**
**/Debug/
*.opendb
*.tlog
*.db
*.pdb
*.cache
*.gup
*.log
*.obj
y3d/include/*.pb.*
y3d/include/*.grpc.pb.*
y3d/ServiceImpl/*.pb.*
y3d/ServiceImpl/*.grpc.pb.*
y3d/Y3D.Entities/*.cs
y3d_max/hiddencmdout.tmp
rac/**
*.suo
*.dll
y3d/bin/Configure.ini
y3d/LogClientCSharp/obj/**
y3d/Y3D/obj/**
y3d/YMasterServer/obj/**
y3d/YMaxServer/obj/**
y3d/Service/obj/**
y3d/Y3D.Entities/obj/**
y3d/Y3D.Entities/bin/**